.label.label-success{
    background-color: #60c560;
}
.label{
    font-size: 85%;
    line-height: 1.4;
    font-weight: 300;
    border-radius: 5px;
    margin: 0 15px;
    display: inline-block;
    padding: .2em .6em .3em;
    color: #fff;
    text-align: center;
    vertical-align: baseline;
    margin-bottom: .5em;
}

button{
    width: 13.2rem;
}