body{
    overflow-x: hidden;
}
input{
    max-width: 300px;
    display: flex;
}
.form-control{
}
.loggin{
    /* margin-top: 100px; */
}
.minh-100{
    height: 100vh;
}
.atleta img{
    height: 24px;
    width: 24px;
}
.atleta, i {
    padding: .6rem 0;
    background: #f4f4f4;
    min-width: 48px;
    border: 1px solid #ccc;
    line-height: 1px;
    border-right: 0px;
}
